{% extends 'base.html' %}
{% include 'main.html' %}
{% include 'scrollUp.html' %}
{% block title %} Home {% endblock %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Охрана труда на предприятии</h2>
            <p>
                Ныне действующий порядок проведения инструктажей по охране труда утвержден Постановлением Минтруда
                России, Минобразования России от 13.01.2003 N 1/29 (далее — Порядок).
                Стоит отметить, что в вышеназванном Порядке приведены общие
                правила проведения инструктажей по охране труда.
                Именно этим правилам посвящена наша консультация.
                При этом важно учитывать то, что конкретные условия проведения инструктажей для отдельных отраслей
                регулируются отраслевыми и межотраслевыми НПА (п. 2.1.8 Порядка).

            </p>
            <h2>Для чего нужны инструктажи по охране труда</h2>
            <p>
                В ходе проведения инструктажей по охране труда работников ознакамливают с имеющимися у работодателя
                опасными/вредными производственными факторами. Кроме того, работники изучают требования охраны труда,
                содержащиеся в ЛНА организации, инструкциях по охране труда, технической, эксплуатационной документации.
                Также во время инструктажей работники узнают о применении безопасных методов и приемов выполнения работ.

                Подводя итог, можно сказать, что проведение инструктажей по охране труда нужно для того, чтобы работники
                знали, как действовать, чтобы их труд был безопасным, и что предпринять в экстренных ситуациях (при
                авариях, стихийных бедствиях и т.п.).

            </p>
            <h2>Виды инструктажей по охране труда</h2>
            Выделяют пять видов инструктажей по охране труда (п. 2.1.2, п. 2.1.3 Порядка):
            <ul>
                <li>вводный инструктаж;</li>
                <li>первичный инструктаж на рабочем месте;</li>
                <li>повторный инструктаж;</li>
                <li>внеплановый инструктаж;</li>
                <li>целевой инструктаж.</li>
            </ul>
            <h2>Вводный инструктаж по охране труда</h2>
            Такой инструктаж проходят (п. 2.1.2 Порядка):
            <ul>
                <li>все принимаемые на работу лица;</li>
                <li>командированные в организацию работники;</li>
                <li>работники сторонних организаций, выполняющие работы на выделенном участке;</li>
                <li>обучающиеся образовательных учреждений, проходящие в организации производственную практику;</li>
                <li>иные лица, участвующие в производственном процессе организации.</li>
            </ul>
            <h2>Кто проводит вводный инструктаж по охране труда</h2>
            <p>
                Вводный инструктаж по охране труда проводит специалист по охране труда или работник, на которого
                приказом работодателя (или уполномоченного работодателем лица) возложены такие обязанности (п. 2.1.2
                Порядка).

                Проводится такой вид инструктажа по программе, разработанной на основании законодательных и иных НПА с
                учетом специфики деятельности компании. Программа должна быть утверждена в установленном порядке
                работодателем (или уполномоченным им лицом).

                Примерную программу вводного инструктажа вы найдете в ГОСТе 12.0.004-2015, введенном в действие Приказом
                Росстандарта от 09.06.2016 N 600-ст (далее — ГОСТ 12.0.004-2015).
            </p>
            <h2>Первичный инструктаж на рабочем месте</h2>
            Первичный инструктаж по охране труда проходят (п. 2.1.4 Порядка):
            <ul>
                <li>вновь принятые в организацию работники, включая работников, выполняющих работу на условиях трудового
                    договора, заключенного на срок до двух месяцев или на период выполнения сезонных работ, в свободное
                    от основной работы время (совместителей), а также надомников;
                </li>
                <li>работники организации, переведенные в установленном порядке из другого структурного подразделения,
                    либо работники, которым поручается выполнение новой для них работы;
                </li>
                <li>командированные работники сторонних организаций;</li>
                <li>ученики образовательных учреждений соответствующих уровней, проходящие производственную практику;
                </li>
                <li>другие лица, участвующие в производственной деятельности организации.</li>
            </ul>
            <h2>Кто проводит первичный инструктаж на рабочем месте</h2>
            <p>
                Первичный инструктаж на рабочем месте проводит непосредственный руководитель работ (мастер,
                преподаватель, прораб и т.д.), прошедший обучение по охране труда и проверку знаний требований охраны
                труда (п. 2.1.3 Порядка).

                Для проведения первичных инструктажей необходимо разработать программу такого инструктажа. Примерная
                программа первичного инструктажа приведена в ГОСТе 12.0.004-2015.
            </p>
            <h2>Повторный инструктаж по охране труда</h2>
            <p>
                Повторный инструктаж должны проходить те же самые лица, которые проходят первичный инструктаж на рабочем
                месте (п. 2.1.5 Порядка).
            </p>
            <h2>Кто проводит повторный инструктаж по охране труда</h2>
            <p>
                Повторный инструктаж по охране труда проводит непосредственный руководитель работ, который прошел
                обучение по охране труда и проверку знаний требований охраны труда (п. 2.1.3 Порядка).

                Для проведения повторного инструктажа используются программы первичного инструктажа на рабочем месте (п.
                2.1.5 Порядка).
            </p>
            <h2>Кого и когда можно освободить от первичного и повторных инструктажей</h2>
            <p>
                Если работники не связаны с эксплуатацией, обслуживанием, испытанием, наладкой и ремонтом оборудования,
                использованием электрифицированного или иного инструмента, хранением и применением сырья и материалов,
                такие работники могут быть освобождены от прохождения первичного инструктажа на рабочем месте (п. 2.1.4
                Порядка). Работодатель должен утвердить перечень профессий и должностей работников, освобожденных от
                прохождения первичного инструктажа.
            </p>
            <h2>Внеплановый инструктаж по охране труда</h2>
            Такой инструктаж проводится (п. 2.1.6 Порядка):
            <ul>
                <li>при введении в действие новых законодательных и иных НПА, содержащих требования охраны труда, а
                    также инструкций по охране труда;
                </li>
                <li>при изменении законодательных и иных нормативных правовых актов, содержащих требования охраны труда,
                    а также инструкций по охране труда;
                </li>
                <li>при изменении технологических процессов и других факторов, влияющих на безопасность труда;
                </li>
                <li>при замене или модернизации оборудования, приспособлений, инструмента;</li>
                <li>при нарушении работниками требований охраны труда, если эти нарушения создали реальную угрозу
                    наступления тяжких последствий (несчастный случай на производстве, авария и т.п.);
                </li>
                <li>по требованию должностных лиц контролирующих органов;</li>
                <li>при перерывах в работе (для работ с вредными/опасными условиями — более 30 календарных дней, а для
                    остальных работ — более двух месяцев);
                </li>
                <li>по решению работодателя (или уполномоченного им лица).</li>
            </ul>
            <h2>Кто проводит внеплановый инструктаж по охране труда</h2>
            <p>
                Проведение внепланового инструктажа по охране труда является обязанностью непосредственного руководителя
                работ, прошедшего соответствующее обучение (п. 2.1.3 Порядка).
            </p>
            <h2>Целевой инструктаж по охране труда</h2>
            Целевой инструктаж нужно провести (п. 2.1.7 Порядка):
            <ul>
                <li>при выполнении разовых работ;</li>
                <li>при проведении работ, на которые оформляются наряд-допуск, разрешение или другие специальные
                    документы;
                </li>
                <li>при ликвидации последствий аварий, стихийных бедствий;</li>
                <li>при проведении в организации массовых мероприятий.</li>
            </ul>
            <h2>Кто проводит целевой инструктаж по охране труда</h2>
            <p>
                Так же как первичный, повторный и внеплановый инструктажи, целевой инструктаж по охране труда проводит
                непосредственный руководитель работ (п. 2.1.3 Порядка).
            </p>
            <h2>Порядок проведения инструктажей по охране труда</h2>
            Алгоритм проведения инструктажей следующий.
            <ol>
                <li>Разрабатывается программа инструктажа. При наличии в вашей организации профсоюза не забудьте
                    согласовать программу с ним.
                </li>
                <li>Составляется список сотрудников, которым необходимо пройти инструктаж.
                </li>
                <li>Инструктор в устной форме проверяет приобретенные работниками знания и навыки безопасных приемов
                    работы (п. 2.1.3 Порядка).
                </li>
                <li>Информация о проведенном инструктаже фиксируется в журнале (о нем расскажем чуть дальше).</li>
            </ol>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <p><h5><b>Вводный инструктаж:</b></h5> При приеме на работу в начале командировки в начале производственной практики (п. 2.1.2 Порядка)</p>
            <p><h5><b>Первичный инструктаж на рабочем месте:</b></h5> До начала самостоятельной работы (п. 2.1.4 Порядка)</p>
            <p><h5><b>Повторный инструктаж:</b></h5> Не реже чем раз в полгода (п. 2.1.5 Порядка)</p>
            <p><h5><b>Внеплановый и целевой инструктаж:</b></h5> При возникновении обстоятельств, требующих проведения такого инструктажа
            (п. 2.1.6, п. 2.1.7 Порядка)</p>
        </div>
    </div>
</div>
{% endblock %}