{% extends 'base.html' %}
{% include 'main.html' %}
{% include 'scrollUp.html' %}
{% block title %} КПДУП {% endblock %}
{% block body %}
<br>
<br>
<div class="container-fluid d-flex h-100 justify-content-center align-items-center p-0">
    <div class="row">
        <div class="col-12">
            <h2>Контакты для связи с разработчиком</h2>
            <br>
        </div>
    </div>
</div>
<div class="container-fluid d-flex h-100 justify-content-center align-items-center p-0">
    <div class="row">
        <div class="col-12">
            <p>Номер телефона: +7(918)-637-87-47</p>
            <p>Почта: <a href="mailto: eremayner@gmail.com">eremayner@gmail.com</a></p>
            <p>Почта №2: <a href="mailto: arseneremyan95@gmail.com">arseneremyan95@gmail.com</a></p>
            <p>Скайп: @eremyanarsen</p>
            <p>Slack: @pythonio</p>
            <p>Вконтакте <a href="https://vk.com/eremyanio"> Арсен Еремян </a></p>
            <p>Телеграм: <a href="https://t.me/eremyan_arsen"> @eremyan_arsen</a></p>
        </div>
    </div>
</div>
{% endblock %}