{% extends 'base.html' %}
{% include 'header.html' %}
{% block title %} Home {% endblock %}
{% block body %}

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Еремян Арсен</h1>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <p>Я преподаю информатику с 2008 года, когда предмет ещё назывался ИКТ. Начинал со школы, учил детей разбираться в
                программировании и сдавать ЕГЭ на 90 баллов и выше. За два года вывел нашу школу на второе место в районе по
                олимпиадам по информатике. Вёл два класса коррекции — пятый и одиннадцатый — и знаю, как объяснить основы теории
                вероятности даже тем, кто не хочет ничему учиться.</p>
            <p>В 2012 защитил кандидатскую диссертацию по обучению информатике детей с недостатком внимания и стал внештатным
                преподавателем РГСУМ им. Макаренко. Параллельно с этим веду курсы по программированию «IDDQD» и записываю
                подкаст «Прогрокаст» с аудиторией 25 000 человек.</p>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <h2>Контакты для связи</h2>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <p>Телефон: +7 (918) 639-87-40</p>
            <p>Почта: <a href="mailto: eremayner@gmail.com">eremayner@gmail.com</a></p>
            <p>Скайп: eremyanarsen</p>
            <p>Телеграм: @eremyan_arsen</p>
        </div>
    </div>
</div>
{% endblock %}