{{ '<' }}{{ '!DOCTYPE html>' }}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>КПДУП</title>
    <link rel="stylesheet" href="static/css/login.css">
</head>
<body>
<form method="POST">
    {{ form.csrf_token }}
    <div class="form">
        <h1>Вход</h1>
        <div class="input-form">
            <input type="email" placeholder="Email" name="email" required="1">
        </div>
        <div class="input-form">
            <input type="password" placeholder="Пароль" name="password" required="1">
        </div>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <div class="input-form">
            <input type="submit" value="Войти">
        </div>
        <a href="{{ url_for('auth.register') }}">Зарегистрироваться</a>
        <a href="#" class="forget">Забыли пароль?</a>
    </div>
</form>
</body>
</html>