{% extends 'base.html' %}
{% include 'main.html' %}
{% include 'scrollUp.html' %}
{% block title %} КПДУП {% endblock %}
{% block body %}
<div class="container">
    <div class="row">
        <div class="col md-12">
            <div class="jumbotron bg-dark text-white">
                <h2>Планирование инструктажей
                    <button type="button" class="btn btn-success float-right"
                            data-toggle="modal" data-target="#mymodal">Добавить мероприятие
                    </button>
                </h2>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <div class="alert alert-success alert-dismissable" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="close">
                        <span aria-hidden="true">x</span>
                    </button>
                    {{message}}
                </div>
                {% endfor %}
                {% endif %}
                {% endwith %}
                <table class="table table-hover table-dark">
                    <tr>
                        <th>ФИО работника</th>
                        <th>Должность</th>
                        <th>Вид инструктажа</th>
                        <th>ФИО инструктирующего</th>
                        <th>Дата прохождения</th>
                    </tr>
                    {% for row in employees %}
                    <tr>
                        <td>{{row.employee_name}}</td>
                        <td>{{row.position}}</td>
                        <td>{{row.type_of_briefing}}</td>
                        <td>{{row.instructor_name}}</td>
                        <td>{{row.briefing_date}}</td>
                        <td>
                            <a href="/updatePl/{{row.id}}" class="btn btn-warning btn-xs" data-toggle="modal"
                               data-target="#modaledit{{row.id}}">Изменить</a>
                            <a href="/deletePl/{{row.id}}" class="btn btn-danger btn-xs"
                               onclick="return confirm('Вы уверены, что хотите удалить ?')">Удалить</a>
                        </td>
                    </tr>
                    <div id="modaledit{{row.id}}" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <form action="{{ url_for('views.update_planning') }}" method="POST">
                                        {{ form.csrf_token }}
                                        <div class="form-group">
                                            <input type="hidden" name="id" value="{{row.id}}">
                                            <input type="text" class="form-control" placeholder="ФИО инструктируемого"
                                                   name="employee_name" value="{{row.employee_name}}" required="1">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Должность"
                                                   name="position" value="{{row.position}}" required="1">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="Вид инструктажа"
                                                   name="type_of_briefing" value="{{row.type_of_briefing}}"
                                                   required="1">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control" placeholder="ФИО инструктирующего"
                                                   name="instructor_name" value="{{row.instructor_name}}" required="1">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" class="form-control"
                                                   placeholder="Формат ввода 12-07-2022"
                                                   name="briefing_date" value="{{row.briefing_date}}" required="1">
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-primary" type="submit">Обновить</button>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </table>
            </div>
            <div id="mymodal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Добавить мероприятие</h4>
                        </div>
                        <div class="modal-body">
                            <form action="{{url_for('views.insert_planning')}}" method="POST">
                                <div class="form-group">
                                    <label>ФИО инструктируемого:</label>
                                    <input type="text" class="form-control" placeholder="ФИО инструктируемого"
                                           name="employee_name" required="1">
                                </div>
                                <div class="form-group">
                                    <label>Должность:</label>
                                    <input type="text" class="form-control" placeholder="Должность"
                                           name="position" required="1">
                                </div>
                                <div class="form-group">
                                    <label>Вид инструктажа:</label>
                                    <input type="text" class="form-control" placeholder="Вид инструктажа"
                                           name="type_of_briefing" required="1">
                                </div>
                                <div class="form-group">
                                    <label>ФИО инструктирующего:</label>
                                    <input type="text" class="form-control" placeholder="ФИО инструктирующего"
                                           name="instructor_name" required="1">
                                </div>
                                <div class="form-group">
                                    <label>Дата проведения инструктажа</label>
                                    <input type="text" class="form-control"
                                           placeholder="Формат ввода 12-07-2022"
                                           name="briefing_date" required="1">
                                </div>
                                <div class="form-group">
                                    <button class="btn btn-primary" type="submit">Добавить на учёт</button>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}